
    <div class="card">
        <div class="card_container">
            <div >
                <a [routerLink]="['/hero', hero.id ]" class="front-card">
                    <div class="card_header">
                        <p class="card_font">{{hero.name}}</p>
                    </div>
                    <img [src]="imgUrl.path+'.'+imgUrl.extension" class="card_image" />
                </a>
                <div class="card_footer">
                    <a href={{hero.urls[1].url}} target="_blank" rel="noreferrer" >&copy; MARVEL</a>
                </div>
            </div>
        </div>
    </div>

