.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.content_search {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120px;
}
input {
  width: 300px;
  border: none;
  border-bottom: 2px solid rgb(32, 32, 32);
  margin: 40px 0;
  align-self: flex-end;
  font-size: 20px;
  text-align: center;

  :focus {
    outline-color: rgb(206, 0, 0);
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: rgb(252, 177, 15);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: rgba(24, 24, 24, 0.749);
  color: white;
}
